<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Crud tarjeta de credito</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Agregar tarjeta de credito</h3>

                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user" 
                                   [class.green-icon]="this.form.get('titular')?.valid"
                                   [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-regular fa-credit-card"
                                   [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                   [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"
                                ></i>
                            </span>
                            <input formControlName="numeroTarjeta" type="text" class="form-control" placeholder="Numero Tarjeta" maxlength="16">
                        </div>

                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar-days"
                                           [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                           [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched">
                                        </i>
                                    </span>
                                    <input formControlName="fechaExpiracion" type="text" maxlength="5" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key"
                                           [class.green-icon]="this.form.get('cvv')?.valid"
                                           [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
                                        ></i>
                                    </span>
                                    <input formControlName="cvv" type="password" maxlength="3" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg" [disabled]="this.form.invalid">
                                <i class="fa-solid fa-database"></i>&nbsp; Aceptar
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Listado tarjeta de credito</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Nro Cuentra</th>
                                <th>Fecha Vec.</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let tarjeta of listTarjeta; let i = index"><!-- capturando pocision en i al hacer clisk -->
                                <td>{{tarjeta.titular}}</td>
                                <td>{{tarjeta.numeroTarjeta}}</td>
                                <td>{{tarjeta.fechaExpiracion}}</td>
                                <td><i class="fa-solid fa-pen-to-square text-info"></i></td>
                                <td><i (click)="eliminarTarjeta(i)" class="fa-solid fa-trash-can text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
